* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Raleway", sans-serif;
}

body {
    width: 100%;
    overflow-x: hidden;
}

header {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 5em;
    justify-content: center;
    align-items: center;
}

nav {
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 50px;
}

nav ul {
    display: flex;
    gap: 1em;
}

nav ul li {
    list-style: none;
}

nav ul li a {
    text-decoration: none;
    color: black;
    font-size: 20px;
    font-weight: 500;
}

.hero {
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hero .left {
    width: 55%;
    display: flex;
    flex-direction: column;
    gap: 1.5em;
}

.hero h1 {
    font-size: 35px;
    font-weight: 700;
    color: hsl(243, 87%, 12%);
}

.hero .left p {
    font-size: 16px;
    font-weight: 400;
    color: hsl(0, 0%, 75%);
    width: 80%;
}

.hero form {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 1em;
}

.hero input {
    padding: 13px 30px;
    border-radius: 5px;
    border: 1px solid black;
    outline: none;
    width: 300px;
    color: hsl(243, 87%, 12%);
}

.hero input::placeholder {
    color: hsl(0, 0%, 75%);
}

.hero button {
    outline: none;
    border: none;
    background-color: hsl(224, 93%, 58%);
    padding: 15px 50px;
    border-radius: 5px;
}

.hero .right {
    width: 40%;
}

.hero .right img {
    height: 350px;
}

main {
    width: 100%;
    position: relative;
    margin-top: 150px;
    background-color: hsl(240, 75%, 98%);
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.illustr {
    position: absolute;
    top: -100px;
    z-index: -1;
}

.productive {
    display: flex;
    width: 80%;
    justify-content: space-between;
}

.productive .left {
    width: 55%;
    display: flex;
    flex-direction: column;
    gap: 1.5em;
}

.productive .left h1 {
    font-size: 30px;
    font-weight: 700;
    color: hsl(243, 87%, 12%);
}

.productive .left p {
    font-size: 16px;
    font-weight: 400;
    color: hsl(0, 0%, 75%);
    width: 90%;
    color: hsl(243, 87%, 12%);
}

.productive .left button {
    border-bottom: 1px solid green;
    color: green;
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;
    justify-self: flex-start;
}

.productive .right {
    width: 40%;
}

.productive .right img {
    height: 300px;
}

.desktop-hide {
    display: none;
}